/* Universal  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Scroll */
html {
    scroll-behavior: smooth;
}

/* Affects all anchor in grid */
a {
width: 100%;
text-decoration: none;
}

/* Header Padding and Margin */
header {
    margin: 0px;
    padding: 0px;
}

/* Titles for sections in Media Query */
h5 {

    display: none;
}
/* Navigation bar at top of page */
nav {
    float:right;
    margin-top: -20px;
    margin-right: 20px;
}
/* Took off bullets for list */
nav ul {
    list-style-type: none;
}
/* Changes attributes of Nav */
nav ul li {
    margin-left: 25px;
    display: inline-block;
    font-size: 36px;
    color: rgb(234, 210, 172);
    background-color: rgb(66, 129, 164);
}
/* Banner Image */
.snorlax {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/assets/images/pexels-suzy-hazelwood.jpg");
    background-size: cover;
    background-position: center;
}
/* Changes Anthony Zamora */
header h2 {
    font-size: 66px;
    background-color: rgb(66, 129, 164);
    color: rgb(234, 210, 172);
}
/* About me picture */
div img {
    height: 50%;
    width: 50%;
    align-content: center;
}
/* Used grid layout for page */
.gridcontainer {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);

}
/* Overall left container attributes */
.containerL {
    justify-content: left;
    margin: 8px;
    flex: 1 1;
    border-right: black solid 2.5px;

}

/* About*/
.containerL-1 {
    min-width: 50px;
    min-height: 100px;
    font-size: 6em;
    text-align: left;
   
}

/* Portfolio*/
.containerL-2 {
    min-width: 50px;
    min-height: 100px;
    font-size: 6em;
    text-align: left;
    flex-shrink: unset;
}

/*Contact*/
.containerL-3 {
    min-width: 50px;
    min-height: 100px;
    font-size: 6em;
    text-align: left;
}
/* Overall right container */
.containerR {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* First image in porfolio */
.activebox1 {
    width: 100%;
    height: 300px;
    margin-right: 20px;
    border-radius: 25px;
    background-image: url(/assets/images/sotd.png);
    background-size: cover;
    cursor: pointer;
}
/* hover to reveal game gif */
.activebox1:hover {
    background-image: url(/assets/images/swamp-of-the-dead.gif);
}
/* Horiseon Project image */
.box2 {
    width: 100%;
    height: 200px;
    margin-right: 20px;
    border-radius: 25px;
    background-size: cover;
    background-image: url(/assets/images/digital-marketing-meeting.jpg);
}
.box2:hover{
    background-image: url(/assets/images/digital-marketing-meeting.jpg);

}
/* Github Image */
.box3 {
    width: 100%;
    height: 200px;
    margin-right: 20px;
    border-radius: 25px;
    background-size: cover;
    background-image: url(/assets/images/github.png);
}

.box3:hover{
    background-image: url(/assets/images/github.png);
}
/* Remove markers from Contact list  */
div ul {
    list-style-type: none;
}
/* About me container */
.containerR-1 {
    min-width: 50px;
    min-height: 100px;
    font-size: 20px;
    margin: 30px;
}
/* Portfolio Container */
.containerR-2 {
    min-width: 50px;
    min-height: 100px;
}

/* Contact Containger */
.containerR-3 {
    min-width: 50px;
    min-height: 100px;
    font-size: 36px;
    list-style-type: none;

}

/* Bottom footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer h4 {
    color: brown;
    margin-top: 40;
    font-size: 36px;
    text-align: center;
}

footer h4 img {
    margin: -12px;
    width: 40px;
    height: 40px;
    padding: 8px;
}

/* Responsive layout */
@media screen and (max-width:768px) {

    /*Responsive layout Anthony Zamora */
    header h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 66px;
    }
    /* Responsive layout container titles */
    h5 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 36px;
    }

    /* Responsive layout grid */
    .gridcontainer {
        grid-template-columns: 100%;
        grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
    }

    .containerL {
        display: none;
    }

    .containerR {
        justify-self: center;
        border: 5px solid rgb(66, 129, 164);
        
    }
    .containerR-1 {

        width: 100%;
        min-height: 100px;
    }

    .containerR-2 {

        width: 100%;
        min-height: 100px;
    }

    .containerR-3 {

        width: 100%;
        min-height: 100px;
    }

}